.root{
    -fx-background-color: navy;
}
Button{
    -fx-background-color: lightgrey;
}
Button:hover{
    -fx-background-color: darkgray;
}
Label{
    -fx-text-fill: white;
}
.Update:hover{
    -fx-background-color: blue;
    -fx-text-fill: white;
}
.Delete:hover{
    -fx-background-color: red;
    -fx-text-fill: white;
}
.Add:hover{
    -fx-background-color: green;
    -fx-text-fill: white;
}
